# File Konfigurasi Sensitif
config.ini

# File Log dan Status
*.log
.tukangbackup_status

# File Hasil Backup
*.sql
*.tar.gz

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Folder Virtual Environment
venv/
.venv/
env/
